/* Reset some default styles */
body, h1, h2, table {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.55);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    margin-bottom: 20px;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.user-table th, .user-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.user-table th {
    background-color: #f5f5f5;
}

.add-user-button {
    text-align: right;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.btn:hover {
    background-color: #0056b3;
}

.submenu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.nav-item:hover .submenu {
    display: block;
}

.submenu .nav-item {
    display: block;
    margin: 0;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

.submenu .nav-item:last-child {
    border-bottom: none;
}

.submenu .nav-link {
    color: #333;
}


/* Create a wrapper to center the content */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Create a container for the columns */
.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px; /* Adjust the width as needed */
    width: 90%; /* Adjust the width as needed */
    padding: 20px;
}

/* Style the columns */
.column {
    flex: 1;
    background-color: white; /* Background color of the columns */
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd; /* Add a border for separation */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.meldkamerrow{

    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding: 10px;


}

.meldkamercolumn {

    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px;
    box-sizing: border-box;
}

.testcolumn {
 -webkit-column-count: 2; 
  -webkit-column-gap: 40px;
  -moz-column-count: 2;
  -moz-column-gap: 40px;
  column-count: 2;
  column-gap: 40px;
}
.container {
    display: flex;
}
