body{
    
    background: url(../images/Texel2022.jpg);
    background-size: 100%;
}
img{
width: 25%;
}
.avhtech{
 display:block;
 margin-left: 20%;
 margin-right: auto;
 }
 .romt{
    display:block;
    margin-left: auto;
    margin-right: 25%;
 }
.container{
    background-color: rgba(255, 255, 255, 0.55);
}