body{
    
    background: url(../images/Texel2022.jpg);
    background-size: 100%;
}

.avhtech{
 width: 25%;
}
 .romt{
    width: 25%;
}
.container{
    background-color: rgba(255, 255, 255, 0.55);
}