body{
    
    background: url(../images/Texel2022.jpg);
    background-size: 100%;
}
header{
    margin-bottom: 2vw;
}
.brands{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1rem;
    list-style-type: none;
}

.brands__item{
background-color: rgba(205, 255, 255, 0);
}
.brands__item a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.brands__item img{
    display:block;
    margin-top: 1vw;
    max-width: 25%;
    object-fit: contain;
}

.avhtech{
    max-width:45% !important;
}
.container{
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 5px;
    }
.login-text{
    padding: 1vw 0 0 0;
    text-align: center;
}
.password-tools{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}